<!-- index.html -->
{% extends "admin/admin_base.html" %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Página Inicial</h1>
        <br><br>
        <div>
            <center>
            <h4>Disponibilidade interna mensal de carne suína de janeiro a agosto (2021 e 2022)</h4>
            <img src="/static/admin/img/image.png" height="400px" width="600px">
            <img src="/static/admin/img/destino.png" height="400px" width="600px">
            </center>
        </div>
    </div>
</main>
{% endblock main %}